
/*
    monochromatic colors: #CAD7FD=lighter purple #99B2FB=darker purple
    #FDF0CA=light peach; complementary color=#CAD7FD (purple like)
    analogous: #FDF0CA= light peach #F0FDCA=light green #FDD7CA=light pink
    #FDF0CA=lighter peach #FBE299=darker peach
*/

html, body{
    margin:0;
    padding:0;
    font-family: 'IBM Plex Serif', serif;
    font-color:white;
}



nav {
    background-color:#CAD7FD;
    background-attachment:fixed;
}

.nav-item a{
    padding:10%;
    text-align:center;
}


.nav-item:hover{
    background-color:#99B2FB;
}


.container-fluid{
    margin:0;
    padding:0;
    background-color:#F0FDCA;
}


.jumbotron{
    margin:0px;
    padding:5px;
    height:805px;
    opacity:0.6;
    background-image:url(images/stones.jpg);
    background-size:cover;
    background-position:bottom;
    background-attachment:fixed;
    /*z-index:-1;*/
}

.about, .skills, .projects, .contact{
    margin:0;
    padding:10px;
    height:805px;
}

h2{
    padding:5px;
    font-size:60px;
    font-weight:800;
    text-transform:capitalize;
}

#home{
    margin:0px;
    height:200px;
    position:relative;
    font-family: 'Dancing Script', cursive;
    font-size:60px;
    color:grey;
    text-align:center;
    top:15%;
    left:20%;
    width:60%;
    border-radius:50%;
    background-color:rgba(255,255,255,0.6);


}

main{
    margin:0px;
    padding:0px;
    height:810px;
}

img {
  width: 260px;
  height: 400px;
  object-fit:cover;
}

.contact-me{
    margin:0;
    padding:0;
    height:810px;
    background-image:url(images/contact-image.jpg);
    background-size:cover;
    background-attachment:fixed;
    opacity:0.9;
    z-index:-1;
}

.form-group{
    width:30%;
}

.container{
    padding-bottom:3px
}

#container-1{
    background-color:rgba(255,255,255,0.6);
}


footer{
    margin:0;
    padding:0px;
    background-color:#CAD7FD;
    height:10%;
}

.footer-icon>i{
    height:40px;
}