
/*Font and webpage background colour*/
html, body{
    margin:0px;
    padding:0px;
    height:100%;
    font-family: 'IBM Plex Serif', serif;
    /*font-size:18px;*/
    font-weight:300;
    color:#7C6C82;
    opacity:0.9;
}



/*Ensure spacing between different sections*/
section{
    margin:0;
    padding-bottom:40px;
}

/*To prevent anchor jumps causing the header of each section to go hidden*/
section::before {
  padding-top:15px;
}


h1{
   padding:15px;
   text-shadow: 2px 2px #DBD6DC;
   text-align:center;
   font-weight:600;
   letter-spacing:3px;
}


.nav-item a{
    padding-top:15px;
    font-size: 30px;
    text-align:center;
    text-decoration:none;
}

/*Coding adapted from https://stackoverflow.com/questions/18133653/how-to-change-bootstrap-scrollspy-active-link-color to change background color of active nav tab*/
.nav-pills>.active{
    background-color:#A2B9FB !important; /*change the color of this to something that suits the webpage color theme*/
    font-weight:700;
}

.nav-item:hover{
    background-color:#E3EAFD;
    font-weight:700;
}



#home{
    margin:0;
    padding:0;
    background-image:url(images/stones.jpg);
    height:100vh;
    position: relative;
    opacity:0.65;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

#about{
        background-color:#DCEDEA; /*8FB996; A1CCA5; #E5E8E6;*/
}

.motto{
    margin:0px;
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    font-family: 'Dancing Script', cursive;
    font-weight:600;
    color:#6E4555;             /*#D282A6;*/
    letter-spacing:10px;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
    text-align:center;
    border-radius:30px;
    background-color:rgba(255,255,255,0.6);
}

.card-text{
    text-align: justify;
}



#skills{
    background-color:#E9ECEA;
    margin:0;
    padding:0;
}

#projects{
    background-color:#F6F6F4;
    margin:0;
    padding:0;
}

.card-link:hover{
    background-color:#E3EAFD;
}

#contact{
    margin:0;
    padding:0;
    height:810px;
    background-image:url(images/contact-image.jpg);
    background-size:cover;
    background-attachment:fixed;

}

.footer-icon:hover{
    vertical-align:middle;
    background-color:#E3EAFD;
    border-radius:5px;

}



/*Background colour of form in "Contact Me" section*/
#container-1{
    background-color:rgba(255,255,255,0.7);
}



 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body,html{
        font-size: 6px;
    }
    
    .nav-item a{
        padding:5px;
        font-size: 8px;
    }

    .motto{
        top:65%;
    }
    

    .my-photo{
        width:60%;
        /*height:auto;*/
    }

    .about-me-text{
        width:85%;
    }
    
    .skills-card{
        width:60%;
        font-size:12px;
        text-align:center;
    }
    
    .footer-icon:hover{
    padding:10px;
    }

    #contact{
    padding-top:40px;
}

}

        
/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 575.99px) and (max-width: 767.98px) {
        body,html{
        font-size: 12px;
    }
    
    
    .motto{
        top:25%;
    }
    
    #about, #skills, #projects{
    padding-top:20px;
}

    .my-photo{
        /*width:50%;*/
        height:auto;
    }

    .about-me-text{
        width:30%;
        text-align:center;
    }
    
    .skills-card{
    width:60%;
    font-size:15px;
    text-align:center;
    }

    .footer-icon:hover{
    padding:10px;
    }
    
    #contact{
    padding-top:30px;
}
    
}

/*Small to Medium devices (landscape phones, less than 768px)*/
@media (min-width: 767.99px) and (max-width: 991.98px) {

    #about, #skills, #projects{
    padding-top:30px;
}

    .motto{
        top:50%;
    }

    .my-photo{
        height:auto;
    }

    .about-me-text{
        width:20%;
    }
    
    .skills-card{
    width: 30%;
    font-size:70%;
    word-wrap:normal;
    text-align:center;
    }
    
    .footer-icon:hover{
    padding:15px;
    }
    

    #contact{
    padding-top:40px;
}
    
    
}

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 991.99px) /*and (max-width: 1199.98px)*/ {
    
    body,html{
    font-size:25px;
    }
    
    .motto{
        top:60%;
    }

    #about, #skills, #projects{
    padding-top:40px;
    }

    .my-photo{
        height:auto;
    }
    
    .about-me-text{
        width:40%;
    }

    .skills-card{
        width: 30%;
        font-size:70%;
        text-align:center;
    }
    
    .footer-icon:hover{
    padding:20px;
    }
    
    #contact{
    padding-top:50px;
    }
    
}

/*// Extra large devices (large desktops)*/
/*// No media query since the extra-large breakpoint has no upper bound on its width*/