
/*Font and webpage background colour*/
html, body{
    /*margin:0px;*/
    /*padding:0px;*/
    font-family: 'IBM Plex Serif', serif;
    font-size:20px;
    font-weight:300;
    color:#7C6C82;
    background-color:#F0FDCA;
}


/*Ensure spacing between different sections*/
section{
    margin:0;
    padding-bottom:40px;
    /*padding-left:15px;*/
}


h1{
   padding:15px;
   text-align:center;
   font-weight:600;
}


#home, #about, #skills, #projects, #contact{
    margin:0;
}


nav {
    margin:0px;
    background-color:#CAD7FD;
}


.nav-item a{
    padding:15px;
    font-size: 30px;
    text-align:center;
    text-decoration:none;
}


.nav-item:hover{
    background-color:#99B2FB;
    font-weight:700;
}


#home{
    margin:0;
    padding:0;
    background-image:url(images/stones.jpg);
    height:100vh;
    position:relative;
    opacity:0.65;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}


.motto{
    margin:0px;
    position:absolute;
    left:0;
    top:70%;
    width:100%;
    font-family: 'Dancing Script', cursive;
    color:white;
    letter-spacing:10px;
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
    text-align:center;
    border-radius:30px;
    background-color:rgba(255,255,255,0.6);
}


.btn{
    padding: 15px 10px;
    font-size: 25px;
    border-radius: 20px;
}


#contact{
    margin:0;
    padding:0;
    height:810px;
    background-image:url(images/contact-image.jpg);
    background-size:cover;
    background-attachment:fixed;

}



/*Background colour of form in "Contact Me" section*/
#container-1{
    background-color:rgba(255,255,255,0.7);
}



footer{
    margin:0;
    padding:0px;
    background-color:#CAD7FD;
    height:20px;
}





 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body,html{
        font-size: 6px;
    }
    
    .nav-item a{
        padding:5px;
        font-size: 8px;
    }
    #contact{
    padding-top:40px;
}

}

        
/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 575.99px) and (max-width: 767.98px) {
        body,html{
        font-size: 10px;
    }
    
    #about, #skills, #projects{
    padding-top:20px;
}
    
    #contact{
    padding-top:30px;
}
    
}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 767.99px) and (max-width: 991.98px) { 
        body,html{
        font-size:12px;
    }

    #about, #skills, #projects{
    padding-top:30px;
}

    #contact{
    padding-top:40px;
}
    
    
}

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 991.99px) and (max-width: 1199.98px) {
        body,html{
        font-size:15px;
    }

    #about, #skills, #projects{
    padding-top:40px;
}
    
    #contact{
    padding-top:50px;
}
    
}

/*// Extra large devices (large desktops)*/
/*// No media query since the extra-large breakpoint has no upper bound on its width*/